<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div bgcolor="#EEEEEE" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#565a5c;min-height:100%;background-color:#f7f7f7;font-size:16px;line-height:150%;width:100%!important">
<div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;width:0;min-height:0;color:transparent;display:none!important"></div>
<table style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;line-height:150%;border-spacing:0;background-color:#f7f7f7;width:100%">
  <tbody>
    <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
      <td style="padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;display:block!important;margin:0 auto!important;clear:both!important;max-width:none!important">
        <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;display:block;margin:0 auto;text-align:center;padding:15px;max-width:600px;background-color:#ffffff;color:#3c3f40;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px">
          <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;padding:15px;max-width:600px;margin:0 auto;display:block;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px">
            <table width="100%" cellpadding="0" cellspacing="0" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;line-height:150%;border-spacing:0;padding-bottom:18.75px;padding-top:18.75px;width:100%">
              <tbody>
                <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                  <td align="center" valign="top" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top">
                    <a href="https://www.travelog.com" title="Travelog" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none" target="_blank">
                    <img src="https://s3-us-west-2.amazonaws.com/travelog/assets/travelogmail.png" border="0" alt="Travelog" width="226" height="60" style="margin:0;padding-top:20px;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;border:0;margin:0;display:block" class="CToWUd">
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div width="50%" align="center" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
          </div>
          <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;padding-bottom:31.25px">
            <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;font-size:40px;line-height:48px;padding:0;margin:0">
              You received a new booking!
            </div>
            <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
              <tbody>
                <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                  <td height="10" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;background-color:#ffffff;padding:15px;max-width:600px;display:block;margin:0 auto;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px">
          <table style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%">
            <tbody style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
              <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                <td valign="top" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top">
                  <div style="margin:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;padding:0 25px">
                    <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                      <tbody>
                        <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                          <td height="50" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                      <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                        <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px">
                          <span style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif"><%= @invoice.product.name %></span>
                        </h2>
                        <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif"><%= @invoice.product.country %>, <%= @invoice.product.city %></div>
                      </div>
                      <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                        <tbody>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td height="30" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                        <tbody>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td height="30" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%">
                        <tbody>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Travel Date<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px"><%= @invoice.booking_date %></h2>
                              <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                                <tbody>
                                  <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                                    <td height="30" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                                      &nbsp;
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top">
                              <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                                <tbody>
                                  <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                                    <td height="30" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                                      &nbsp;
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Payment Date<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px"><%= @invoice.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></h2>
                              <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                                <tbody>
                                  <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                                    <td height="30" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                                      &nbsp;
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top">
                              <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                                <tbody>
                                  <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                                    <td height="30" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                                      &nbsp;
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top">
                              Reservation Code<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;font-size:24px;line-height:1.3em"><%= @invoice.payer_id %></h2>
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Amount<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              <table>
                                <% if @invoice.variants.present? && @invoice.variants.count > 0 %>
                                <% @invoice.variants.each do |variant| %>
                                <tr>
                                  <td>
                                    <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px"><%= @currency_symbols[@invoice.currency] %><%= variant["price_cents"].to_i * @product_percent_rate / 100 %>(<%= @invoice.currency %>) x <%= variant["count"] %> 
                                      <%= variant["name"] %>
                                    </h2>
                                  </td>
                                  <td>
                                    <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px"><%= @currency_symbols[@invoice.currency] %><%= variant["price_cents"].to_i * @product_percent_rate / 100 * variant["count"].to_i %>(<%= @invoice.currency %>)</h2>
                                  </td>
                                </tr>
                                <% end %>
                                <% else %>
                                <tr>
                                  <td>
                                    <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px">
                                    <%= @currency_symbols[@invoice.currency] %><%= @invoice.amount_cents * @product_percent_rate / 100 %> x 1 <%= @invoice.product.name %>
                                  </td>
                                  <td>
                                    <%= @currency_symbols[@invoice.currency] %><%= @invoice.amount_cents * @product_percent_rate / 100 %>
                                    <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px">
                                  </td>
                                </tr>
                                <% end %>

                                <% if @invoice.is_reward_credit %>
                                <tr>
                                  <td>
                                    <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px">Travelog Credit</h2>
                                  </td>
                                  <td>
                                    <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px"><%= @currency_symbols[@invoice.currency] %><%= @invoice.reward_credit %></h2>
                                  </td>
                                </tr>
                                <% end %>

                                <% if @invoice.coupon_id.present? %>
                                <tr>
                                  <td>
                                    <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px">Coupon</h2>
                                  </td>
                                  <td>
                                    <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px"><%= @currency_symbols[@invoice.currency] %><%= @invoice.coupon_amounts %><%= @invoice.currency %></h2>
                                  </td>
                                </tr>
                                <% end %>
                                
                                <tr>
                                  <td>
                                    <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px">Total</h2>
                                  </td>
                                  
                                  <td>
                                    <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;line-height:1.3em;font-size:20px"><%= @currency_symbols[@invoice.currency] %><%= @invoice.billed %>(<%= @invoice.currency %>)</h2>
                                  </td>
                                </tr>
                              </table>
                              <!-- <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;font-size:24px;line-height:1.3em">RM0</h2> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                      <tbody>
                        <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                          <td height="40" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                      <a href="https://www.travelog.com/reseervations" style="margin:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border:1px solid;padding:10px 16px;display:block;border-radius:2px;text-decoration:none;text-align:center;vertical-align:middle;white-space:nowrap;background:#ffffff;border-color:#ff5a5f;background-color:#FF5722;color:#ffffff;border-top-width:1px;font-size:16px;font-weight:bold;line-height:32px" target="_blank">
                      View Reservation
                      </a>
                      <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                        <tbody>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td height="30" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                      <tbody>
                        <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                          <td height="35" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="margin:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;text-align:center;padding:0 25px">
                      <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                        <a style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none">
                          <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;text-align:center">
                            <img src="https://travelog.s3.amazonaws.com/uploads/store_image/store_img/12/4606534628.jpg" alt="Store Logo" style="padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;margin:0 10px;border-radius:999px;border:2px solid white;width:68px;min-height:68px;width:140px;min-height:140px" class="CToWUd">
                          </div>
                        </a>
                      </div>
                      <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                        <tbody>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td height="20px" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;text-align:center">
                        <img alt="Full-star" src="https://s3-us-west-2.amazonaws.com/iwant/default/star.jpg " style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;vertical-align:text-top" class="CToWUd">
                        <img alt="Full-star" src="https://s3-us-west-2.amazonaws.com/iwant/default/star.jpg " style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;vertical-align:text-top" class="CToWUd">
                        <img alt="Full-star" src="https://s3-us-west-2.amazonaws.com/iwant/default/star.jpg " style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;vertical-align:text-top" class="CToWUd">
                        <img alt="Full-star" src="https://s3-us-west-2.amazonaws.com/iwant/default/star.jpg" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;vertical-align:text-top" class="CToWUd">
                        <img alt="Full-star" src="https://s3-us-west-2.amazonaws.com/iwant/default/star.jpg " style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;vertical-align:text-top" class="CToWUd">
                      </div>
                      <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                        <tbody>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td height="35" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h2 style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;font-size:24px;line-height:1.3em">
                        <%= @invoice.product.user.store_setting.store_name %>, is your Store
                      </h2>
                      <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                        <tbody>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td height="5" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                      
                       <table style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%">
                        <tbody>
                        <tr>Merchant Contact Details</tr>
                        <tr></tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Email<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                             <%= @invoice.product.user.email %>
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Phone<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                            <%= @invoice.product.user.profile.phone_number %>
                            </td>
                          </tr>
                          </tbody>
                          </table>
                      
                      <br>
                      <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-size:18px">
                        You will be contacted via email for further details of your booking.
                      </div>
                      <br>
                       <table style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%">
                        <tbody>
                        <tr>Customer Contact Details</tr>
                        <tr> &nbsp;</tr>
                        <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Name<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                            <%= @invoice.contact_detail.first_name %> <%= @invoice.contact_detail.last_name %>
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Email<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                            <%= @invoice.contact_detail.email %>
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Phone<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                            <%= @invoice.contact_detail.phone_number %>
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Message<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                           <%= @invoice.contact_detail.message %>
                            </td>
                          </tr>
                          </tbody>
                          </table>
                      
                      
                      <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                        <tbody>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td height="30" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                     
                      
                      <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                        <strong style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                          <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;display:inline-block;padding:0 15px">
                          </div>
                        </strong>
                      </div>
                    </div>
                    <hr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;background-color:#dbdbdb;min-height:1px;border:none">
                    <br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif"><br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                </td>
              </tr>
            </tbody>
          </table>
          </div>
      </td>
      <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top"></td>
    </tr>
    <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;background-color:#f7f7f7">
    <td style="padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-top:25px;padding-bottom:25px;clear:both!important;max-width:none!important;display:block!important;margin:0 auto!important">
    <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:600px;padding:15px;margin:0 auto;display:block;font-size:14px;color:#9ca299;text-align:center;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px">
    <table cellpadding="10" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;padding:10px">
    <tbody><tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    <td align="center" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top">
    <table cellpadding="5" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;width:auto">
    <tbody><tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding:5px">
    <a href="https://www.facebook.com/travelogcom" title="Facebook" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none" target="_blank">
    <img alt="Facebook" height="42" src="https://s3-us-west-2.amazonaws.com/iwant/default/facebook.png" width="42" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;border:0" class="CToWUd">
    </a>                </td>
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding:5px">
    <a href="https://twitter.com/travelogcom" title="Twitter" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none" target="_blank">
    <img alt="Twitter" height="42" src="https://s3-us-west-2.amazonaws.com/iwant/default/twitter.png" width="42" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;border:0" class="CToWUd">
    </a>                </td>
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding:5px">
    <a href="https://www.instagram.com/travelogcom/" title="Instagram" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none" target="_blank">
    <img alt="Instagram" height="42" src="https://s3-us-west-2.amazonaws.com/iwant/default/instagram.png" width="42" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;border:0" class="CToWUd">
    </a>                </td>
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding:5px">
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    <table style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%">
    <tbody><tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top"></td>
    <td style="padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important">
    <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;padding:15px;max-width:600px;margin:0 auto;display:block;padding-right:5px;padding-bottom:5px;padding-top:0px;padding-left:5px;color:#9ca299;font-size:14px;text-align:center">
    Sent with <img alt="&amp;#9829;" height="10" src="https://s3-us-west-2.amazonaws.com/iwant/default/heart.png" width="12" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%" class="CToWUd"> from <span class="il">Travelog</span><br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    <a href="https://www.travelog.com/profile" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#9ca299;text-decoration:underline" target="_blank">
    Email preferences
    </a>
    </div>
    </td>
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top"></td>
    </tr>
    </tbody></table>
    </div>
    </div>
    <br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif"><br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    </td>
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top"></td>
    </tr>
  </tbody>
</table>
</div>