<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div bgcolor="#EEEEEE" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#565a5c;min-height:100%;background-color:#f7f7f7;font-size:16px;line-height:150%;width:100%!important">
<div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;width:0;min-height:0;color:transparent;display:none!important"></div>
<table style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;line-height:150%;border-spacing:0;background-color:#f7f7f7;width:100%">
  <tbody>
    <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
      <td style="padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;display:block!important;margin:0 auto!important;clear:both!important;max-width:none!important">
        <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;display:block;margin:0 auto;text-align:center;padding:15px;max-width:600px;background-color:#ffffff;color:#3c3f40;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px">
          <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;padding:15px;max-width:600px;margin:0 auto;display:block;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px">
            <table width="100%" cellpadding="0" cellspacing="0" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;line-height:150%;border-spacing:0;padding-bottom:18.75px;padding-top:18.75px;width:100%">
              <tbody>
                <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                  <td align="center" valign="top" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top">
                    <a href="https://www.travelog.com" title="Travelog" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none" target="_blank">
                    <img src="https://s3-us-west-2.amazonaws.com/travelog/assets/travelogmail.png" border="0" alt="Travelog" width="226" height="60" style="margin:0;padding-top:20px;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;border:0;margin:0;display:block" class="CToWUd">
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div width="50%" align="center" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
          </div>
          <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;padding-bottom:31.25px">
            <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;padding-bottom:10px;font-size:40px;line-height:48px;padding:0;margin:0">
              New Merchant Signup
            </div>
            <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
              <tbody>
                <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                  <td height="10" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;background-color:#ffffff;padding:15px;max-width:600px;display:block;margin:0 auto;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px">
          <table style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%">
            <tbody style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
              <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                <td valign="top" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top">
                  <div style="margin:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;padding:0 25px">
                    
            
                   
                    
                    <div style="margin:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;text-align:center;padding:0 25px">
                     
                     
                    
                      
                      
                       
                   
                      <br>
                       <table style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%">
                        <tbody>
                        <tr>Merchant Store Details</tr>
                        <tr> &nbsp;</tr>
                        <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Store Name<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                            <%= @store.store_name %>
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Mobile Number<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                            <%= @store.mobile_number %>
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Country<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                            <%= @store.country %>
                            </td>
                          </tr>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              City<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                           <%= @store.city %>
                            </td>
                          </tr>
                          
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                              Store Currency<br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                              
                            </td>
                            <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-right:10px">
                           <%= @store.currency %>
                            </td>
                          </tr>
                          
                          </tbody>
                          </table>
                      
                      
                      <table cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;font-size:0;line-height:0">
                        <tbody>
                          <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                            <td height="30" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;font-size:0">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                     
                      
                      <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                        <strong style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                          <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;display:inline-block;padding:0 15px">
                          </div>
                        </strong>
                      </div>
                    </div>
                    <hr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;background-color:#dbdbdb;min-height:1px;border:none">
                    <br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif"><br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
                </td>
              </tr>
            </tbody>
          </table>
          </div>
      </td>
      <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top"></td>
    </tr>
    <tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;background-color:#f7f7f7">
    <td style="padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding-top:25px;padding-bottom:25px;clear:both!important;max-width:none!important;display:block!important;margin:0 auto!important">
    <div style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:600px;padding:15px;margin:0 auto;display:block;font-size:14px;color:#9ca299;text-align:center;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px">
    <table cellpadding="10" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;padding:10px">
    <tbody><tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    <td align="center" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top">
    <table cellpadding="5" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;width:auto">
    <tbody><tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding:5px">
    <a href="https://www.facebook.com/travelogcom" title="Facebook" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none" target="_blank">
    <img alt="Facebook" height="42" src="https://s3-us-west-2.amazonaws.com/iwant/default/facebook.png" width="42" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;border:0" class="CToWUd">
    </a>                </td>
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding:5px">
    <a href="https://twitter.com/travelogcom" title="Twitter" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none" target="_blank">
    <img alt="Twitter" height="42" src="https://s3-us-west-2.amazonaws.com/iwant/default/twitter.png" width="42" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;border:0" class="CToWUd">
    </a>                </td>
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding:5px">
    <a href="https://www.instagram.com/travelogcom/" title="Instagram" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none" target="_blank">
    <img alt="Instagram" height="42" src="https://s3-us-west-2.amazonaws.com/iwant/default/instagram.png" width="42" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%;border:0" class="CToWUd">
    </a>                </td>
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;padding:5px">
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    <table style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%">
    <tbody><tr style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top"></td>
    <td style="padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important">
    <div style="font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;padding:15px;max-width:600px;margin:0 auto;display:block;padding-right:5px;padding-bottom:5px;padding-top:0px;padding-left:5px;color:#9ca299;font-size:14px;text-align:center">
    Sent with <img alt="&amp;#9829;" height="10" src="https://s3-us-west-2.amazonaws.com/iwant/default/heart.png" width="12" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;max-width:100%" class="CToWUd"> from <span class="il">Travelog</span><br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    <a href="https://www.travelog.com/profile" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;color:#9ca299;text-decoration:underline" target="_blank">
    Email preferences
    </a>
    </div>
    </td>
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top"></td>
    </tr>
    </tbody></table>
    </div>
    </div>
    <br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif"><br style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif">
    </td>
    <td style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;vertical-align:top"></td>
    </tr>
  </tbody>
</table>
</div>